* {
    padding: 0;
    margin: 0;

}

.nb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 50px;
}

.navbar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 7px;
    list-style: none;
    gap: 18px;
    color: black;
    cursor: pointer;
}

.a {
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

.navbar ul img {
    width: 75px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.container img {
    width: 500px;
    margin-top: 100px;
}

.search {
    display: flex;
    flex-direction: column
}

.sr_box {
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.sr_box input {
    width: 38vw;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 3rem;
}

.sr_box input:hover {
    width: 38vw;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 3rem;
    box-shadow: 0 1px 0 1px lightgray;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.btn_1 {

    padding: 8px;
    border: 0px solid gray;
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
    cursor: pointer;
    margin: 5px;
}

.btn_1:hover {
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
}

.nb p {
    font-size: 21px;
    color: rgb(202, 9, 9);
}

.linegray {
    background-color: lightgray;
    height: 1px;
}

form p {
    font-size: 18px;
}

.contain {
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 0 0 0 40px;
    margin-top: 20px;
}

.i_box {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
}

#allWords,
#exactPhrase,
#anyWords,
#excludeWords {
    padding: 6px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

#allWords:hover,
#exactPhrase:hover,
#anyWords:hover,
#excludeWords:hover {
    padding: 6px;
    border: 1px solid blue;
    border-radius: 3px;
}

.btn_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn_2 button{
    padding: 8px;
    border: 0px solid gray;
    border-radius: 5px;
    background-color: #4d90fe;
    color: white;
    cursor: pointer;
    padding: 8px;
}